body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, fieldset, legend, input, select, textarea, button, th, td, img { margin: 0px; padding: 0px; }
body { color: rgb(34, 34, 34); background: rgb(231, 232, 235) none repeat scroll 0% 0%; }
body, input, textarea { font: 14px/1.6 "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","黑体",Arial,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
ul, ol, li { list-style: outside none none; }
img, fieldset { border: medium none; }
i, em { font-style: normal; }
img { vertical-align: top; }
table { width: 100%; border-collapse: collapse; border-spacing: 0px; word-break: break-all; overflow-wrap: break-word; }
*::-moz-placeholder { color: rgb(163, 163, 163); }
a { color: rgb(69, 154, 233); text-decoration: none; }
a:hover { text-decoration: underline; }
.hide { display: none !important; }
.tl { text-align: left !important; }
.tc { text-align: center !important; }
.fr { float: right !important; }
.vs { color: rgb(231, 231, 235); margin: 0px 10px; font-family: arial; }
.nm { margin: 0px !important; }
.gap { margin: 0px 4px; }
.gapl-wide { margin-left: 14px; }
.clr::after, .wrap::after, .form-item::after, .form-group::after, .page-msg .inner::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; }
.clr, .wrap, .form-item, .form-group, .page-msg .inner {  }
.ico-new, .ico-hot, .ico-top { display: inline-block; width: 17px; height: 9px; margin-left: 5px; overflow: hidden; }
.topbar { color: rgb(221, 221, 221); font-size: 12px; background: rgb(61, 71, 74) none repeat scroll 0% 0%; }
.topbar ul { float: right; }
.topbar li { float: left; padding: 6px 10px; position: relative; }
.topbar li a { color: rgb(221, 221, 221); }
.topbar li a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.topbar li .quit { margin-left: 10px; }
.topbar li .num-feed { padding: 0px 5px; color: rgb(255, 255, 255); font-size: 10px; height: 16px; line-height: 16px; margin-left: 5px; background: rgb(255, 63, 25) none repeat scroll 0% 0%; border-radius: 10px; }
.topbar li .ico-news, .topbar li .ico-help, .topbar li .ico-docu, .topbar li .ico-search { display: inline-block; width: 16px; height: 16px; margin: -3px 5px 0px 0px; vertical-align: middle; }
.header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(217, 218, 220); }
.header .logo { float: left; padding: 10px 15px 10px 0px; }
.header .main-logo { float: left; width: 268px; margin-right: 12px; background: rgba(0, 0, 0, 0) url('../images/logo.png') no-repeat scroll 0% 0%; }
.header .main-logo a { display: block; height: 36px; line-height: 999px; overflow: hidden; }
.header .sub-logo { float: left; width: 100px; height: 18px; margin-top: 12px; display: none; }
.header .nav { float: left; position: relative; bottom: -1px; }
.header .nav li { float: left; }
.header .nav li a { display: block; padding: 15px 24px; color: rgb(34, 34, 34); font-size: 16px; }
.header .nav li a:hover { color: rgb(34, 34, 34); text-decoration: none; border-bottom: 4px solid rgb(160, 163, 171); }
.header .nav .selected a, .header .nav .selected a:hover { border-bottom: 4px solid rgb(68, 181, 73); }
.footer { padding-bottom: 30px; color: rgb(141, 141, 141); text-align: center; font: 12px/1.6 tahoma,arial,"Hiragino Sans GB",宋体,sans-serif; }
.footer a { color: rgb(141, 141, 141); }
.footer a:hover { color: rgb(69, 154, 233); }
.footer .vs { color: rgb(204, 204, 204); }
.wrap { width: 1200px; margin: 0px auto; }
.container_body { width: 1200px; margin: 15px auto 30px; border: 1px solid rgb(217, 218, 220); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.content, .sidebar { display: table-cell; }
.sidebar { width: 208px; border-right: 1px solid rgb(231, 231, 235); vertical-align: top; }
.content { width: 991px; }
.content-hd h2 { padding: 0px 18px; line-height: 58px; font-size: 15px; }
.content-hd .title-tab { margin-top: -14px; }
.content-hd .title-tab ul { line-height: 40px; border-bottom: 1px solid rgb(231, 231, 235); }
.content-hd .title-tab li { float: left; margin-bottom: -1px; }
.content-hd .title-tab li:hover { border-bottom: 3px solid rgb(160, 163, 171); }
.content-hd .title-tab li.first a { padding-left: 30px; }
.content-hd .title-tab li.selected { border-bottom: 3px solid rgb(68, 181, 73); }
.content-hd .title-tab li a { display: block; padding: 0px 22px; color: rgb(34, 34, 34); }
.content-hd .title-tab li a:hover { text-decoration: none; }
.content-bd { padding: 30px; }
.set-style dl dd {font-size: 14px;line-height: 32px;vertical-align: top;letter-spacing: normal;word-spacing: normal;display: inline-block;width: 62%;padding: 10px 0 10px 0;}
.set-style dl {width: 100%;font-size: 0;line-height: 20px;clear: both;padding: 0;margin: 0;overflow: hidden;}
.set-style dl dt {font-size: 16px;line-height: 32px;vertical-align: top;letter-spacing: normal;word-spacing: normal;text-align: right;display: inline-block;width: 36%;padding: 10px 1% 10px 0;margin: 0;font-weight: normal;}
.set-style dl dd textarea {font: 12px/20px Arial;color: #777;background-color: #FFF;vertical-align: top;display: inline-block;height: 60px;padding: 4px;border: solid 1px #CCC;outline: 0 none;width: 400px;margin: 0;}
.datepicker.large .datepicker-switch { width: 140px; }
.menu { padding: 13px 0px; height: auto; min-height: 550px; }
.menu dl { line-height: 34px; border-bottom: 1px solid rgb(231, 231, 235); }
.menu dl:last-child { border-bottom: medium none; }
.menu dl a { display: block; color: rgb(34, 34, 34); }
.menu dl a:hover { text-decoration: none; background: rgb(244, 245, 249) none repeat scroll 0% 0%; }
.menu dl dt { color: rgb(141, 141, 141); }
.menu dl dt .type-ico { margin-left: 30px; }
.menu dl dd a { padding-left: 58px; }
.menu .selected a, .menu .selected a:hover { color: rgb(255, 255, 255); background: rgb(68, 181, 73) none repeat scroll 0% 0%; }
.menu .type-ico { display: inline-block; width: 20px; font-size: 24px; margin: -3px 7px 0px 0px; vertical-align: middle;  }
.menu .ico-trade { background-position: 0px -20px; }
.menu .ico-settle { background-position: 0px -40px; }
.menu .ico-bill { background-position: 0px -60px; }
.menu .ico-fund { background-position: 0px -80px; }
.type_image li{  width: 169px;  height: 169px;  border: 1px solid #eee;  margin-top: 5px;  }
.material_li{display: inline-block; margin: 7px 15px 15px 0px;  }
.material_li span,.material_li span div {width: 100%}
.tip_for_p{ font-size: 12px;color: #999; margin-top: 5px;clear: both;}
.rha-bt-a{ color: #459ae9; text-decoration: none; padding: 0px 3px 0px 3px}
.rha-bt-a:hover{ color: #28a4c9; text-decoration: none;}
.msg_total { padding: 0px 5px; color: rgb(255, 255, 255); font-size: 10px; height: 16px; line-height: 16px; margin-left: 5px; background: rgb(255, 63, 25) none repeat scroll 0% 0%; border-radius: 10px; }
.msg_image{width: 150px; height: 90px;}
.rha-nav-title{float: right;margin-top: 30px;}
.mp-menu{width: 100%;padding-left: 7%;margin-bottom: 20px;}
.logo-left{float: left}
.logo-left img{width: 60px;height: 60px; border-radius: 5px;}
.logo-right{float: left;margin-left: 8px; height: 60px; line-height: 30px;}
.rha-mp-msg{width: 100%;}
.rhaphp-media-news{margin-bottom: 10px;}
.mp-msg-headimg{float: left;height:60px;}
.mp-msg-headimg img{width: 50px; height: 50px; border-radius: 5px;}
.mp-msg-info{float: left;margin-left: 20px; }
.mp-msg-content{color: #8c8c8c; margin-top: 3px;}
.layui-tab-brief > .layui-tab-title .layui-this a{color:#009688;text-decoration: none; }
.layui-tab-brief > .layui-tab-title  a{text-decoration: none; }
.msg_image{border-radius: 3px;cursor: pointer}
.rhaphp-upload >input{margin-bottom: 10px;}
.rha-mp-menu-title{text-align: center;}
.rhaphp-addon-admin-logo{width: 31px;height: 31px;border-radius: 3px; margin-right: 10px; margin-left: -6px;}
.rha-10{padding: 0px 10px 0px 10px;}
.rhaphp-addon-menu{display: inline-block;}
#rhaphp-page{margin-left: 10px;}
.rhaphp-hook-upload-image{overflow: hidden;}
.rhaphp-upload-image{}
.upload-imgs{border: 1px solid #e6e6e6; padding: 3px; display: inline-block; margin-right: 5px;}
.upload-imgs img {width: 150px; height: 90px;}
.upload-imgs-del{cursor: pointer;position: absolute;  font-size: 18px;}
.rha_app_list li{width: 65px; display: inline-block;text-align: center;margin-right: 5px; overflow: hidden;  }
.rha_news_content{height: 40px;line-height: 40px;}
.rha_app_list a {font-size: 12px; overflow: hidden; width: 65px;}
.rha_app_list img{width: 65px;height: 65px; border-radius: 3px;}
.rha_app_list span {display: block; text-overflow: ellipsis;  white-space: nowrap;}
.login_body { background: rgb(233, 240, 244) url('../images/login_bg.jpg') no-repeat scroll 0% 0%; }
#login_wrapper { position: relative; margin-bottom: 20px; padding-top: 15%; }
.rha_login { width: 714px; margin: 0px auto; background-color: rgb(255, 255, 255); border: 1px solid rgb(179, 179, 179); border-radius: 3px; }
.rha_login .logo a { display: block; width: 151px; height: 94px; }
.rha_login .mod-body { padding: 50px 60px; }
.rha_login .mod-body .content { width: 300px; margin-right: 60px; }
.rha_login .mod-body .content h2 { margin: 13px 0px 10px; color: rgb(102, 102, 102);font-size: 21px;font-weight:lighter; }
.rha_login .mod-body .content ul li { margin-top: 20px; line-height: 30px; }
.rha_login .mod-body .content ul li:first-child { margin-top: 0px; }
.rha_login .mod-body .content ul li.last a { color: rgb(102, 102, 102); }
.rha_login .mod-footer span { color: rgb(102, 102, 102); }
.rha_login .mod-footer a { color: rgb(102, 183, 255); }
.media-news-body{border: 1px solid rgb(231, 231, 235);padding: 10px;margin: 0px 10px 0px 0px;}
.media-news-img{width: 100%; height: 180px;}
.media-news-time{border-bottom: 1px solid rgb(231, 231, 235);padding-bottom: 5px; margin-bottom: 8px;color: #8c8c8c;}
.media-news-desc{bottom: 10px;position: absolute; background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;color: #ffffff;width: 100%; bottom:0; height: 42px;}
.media-news-desc-sp{padding: 0px 3px;}
.media-news-content{ height:  180px; position: relative}
.media-news-item-type2{text-align: center;}
.media-news-btn{margin-top: 10px; text-align: center;}
.media-news-title-box{float: left;}
.mdedia-news-lists-box{border-bottom: 1px solid rgb(231, 231, 235);display: inline-block;padding:5px 0 5px 0px; height: 48px;width: 100%;}
.media-news-img-box{float:right;}
.media-news-lists-img{width:100%;height: 48px;}
.layui-tab-content .form_logo{margin-right: 5px;}
.addon_menu-left-container{

}
#addon_menu .item-icon{margin: -3px 7px 0 4px;}
#addon_menu .selected .item-icon{color: #ffffff;}
.addon_menu-left{position: relative;z-index: 0;padding: 5px 0px;}
.addon_menu-left .addon_menu-left-nav {position: relative;padding: 0px;width: 100%;overflow-x: hidden;}
.child-item-nav{margin: 0px 0px 0px 0px;padding: 0px;width: 100%;position: relative;overflow-x: hidden;}
.addon_menu-left-nav-item:first-child {
    /*border-top: none;*/
}
.addon_menu-left-nav-item {position: relative;list-style: none;height: 100%;
    /*border-top: 1px solid rgb(231, 231, 235);*/
}
.addon_menu-left-nav-a {text-decoration: none;color: #212121;line-height: 34px;padding-left: 58px;display: block;cursor: pointer;}
.item-icon{position: absolute;top:2px;left:25px;color: rgb(141, 141, 141);}
.addon_menu-left-a-icon{display: inline-block;vertical-align: middle;width: 7px;height: 7px;border-left: 2px solid #ccc;border-bottom: 2px solid #ccc;display: inline-block;margin: 15px 15px 0px 0px;float: right;vertical-align: middle;-webkit-transition: all 0.3s ease-in-out;}
.addon_menu_up {-webkit-transform: rotate(135deg);transform: rotate(135deg);top: 1px;}
.addon_menu_down {margin: 10px 15px 0 0;webkit-transform: rotate(-45deg);transform: rotate(-45deg);top: -4px;}
.addon_menu_parent {border-top: 1px solid rgb(231, 231, 235) ;}
.rhaphp-srivice-register{padding: 0px 10px;}
#account a:hover{text-decoration: none;}
#account{text-align: right; font-size: 14px;}
#apps{margin-top: 10px; display:block; }
.apps-money{float: right;}
.app-desc-body{color: #707070;font-size: 14px;}
.app-desc-body .description{font-size: 14px;}
.apps-volists {border:1px  solid rgb(231, 231, 235);margin: 0px 5px 5px 0px;padding: 5px;overflow: hidden;}
.apps-volist{cursor: pointer}
.apps-icon{float: left;margin-right: 10px;}
.apps-icon img{ width: 68px;height: 68px;border-radius:8px; }
#apps-info .pd{padding: 10px 0px 0px 10px;}
.apps-info-title{font-size: 22px;}
.apps-info-title span{ margin-left:5px;font-size: 12px;bottom: 3px;}
.apps-info-desc{font-size: 12px;color: #787878;}
.preview-qrcode{text-align: center;}
.preview-qrcode img{margin-top: -19px;}
.apps-info-preview_text {text-align: center; top: -5px;position: relative;}
.apps-page{margin-top: 15px;}
.apps-page a:hover{text-decoration: none;}
#apps-cate-lists .cite {color: #5FB878;}