.header-home{padding: 13px 0px 10px 0px;width: 100%;color: #FFFFFF; background-color: rgba(000,000,000,0.5);}
.font11{font-size: 11px;}
.conter{text-align: center;}
body{background-color: #f8f8f8;}
.score{background-color: #FFFFFF;padding: 10px;}
.money-b{border-right-color: #0C0C0C;}
.nav_home{background-color: #FFFFFF;margin-top: 10px;padding: 7px;}